.header {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.face {
  display: inline-block;
  width: 100px;
  padding-left: 30px;
  vertical-align: top;
}

.profileIcon {
  position: relative;
}

.borderImage {
  background-image: url("http://opgg-static.akamaized.net/images/borders2/challenger.png");
  position: absolute;
  left: -10px;
  top: -10px;
  width: 120px;
  height: 120px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.profileImage {
  display: block;
  width: 100px;
  height: 100px;
}

.level {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -14px;
  margin-left: -22px;
  width: 44px;
  height: 24px;
  padding-top: 3px;
  box-sizing: border-box;

  background-size: 100%;
  line-height: 17px;
  font-family: Helvetica, AppleSDGothic, "Apple SD Gothic Neo", AppleGothic,
    Arial, Tahoma;
  font-size: 14px;
  text-align: center;
  color: #eabd56;
}

.profile {
  position: relative;
  display: inline-block;
  height: 100px;
  margin: 0 25px 0 25px;
  vertical-align: top;
  line-height: 1.1;
}

.name {
  color: #242929;
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
  vertical-align: middle;
}

.rank {
  margin-bottom: 5px;
}

.link {
  color: #555e5e;
  font-size: 11px;
  text-decoration: none;
  line-height: 1.5;
}

.ranking {
  color: #059ede;
  font-weight: bold;
}

.buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 0;
  margin: 15px 0 -6px;
  white-space: nowrap;
}

.button__blue {
  border: 1px solid #1a78ae;
  background: #1f8ecd;
  color: #f2f2f2;
  width: 90px;
  height: 41px;
}

.ladderRank {
  font-size: 11px;
}

.lastUpdate {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 12px;
  color: #99a2a2;
  font-size: 11px;
}

.contentWrap {
  overflow: hidden;
}

.tabItem__content {
  width: 1000px;
  min-height: 500px;
  margin: 0 auto;
  display: block;
}

.sideContent {
  display: inline-block;
  width: 300px;
  font-size: 12px;
  vertical-align: top;
}

.tierbox {
  margin-top: 30px;
  border: 1px solid #cdd2d2;

  background: #f2f2f2;
  border-radius: 2px;
}

.summonerRating {
  display: table;
  width: 100%;
  color: #879292;
  position: relative;
  background-color: #f2f2f2;
  padding: 8px 0;
}

.medal {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  height: 124px;
  text-align: center;
}

.medalImage {
  width: 104px;
  height: 104px;
  margin: -5px 0 -10px 0;
}

.tierRankInfo {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}

.rankType {
  font-size: 11px;
  color: #879292;
}

.tierRank {
  font-size: 15px;
  font-weight: bold;
  color: #1f8ecd;
}

.leaguePoints {
  color: #555e5e;
  font-weight: bold;
}

.sub-tier {
  margin-top: 8px;
  padding: 16px 0;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  background-color: #f2f2f2;
  border: solid 1px #cdd2d2;
}

.img-sub-tier__medal {
  width: 64px;
  height: 64px;
  margin: 0 28px;
}

.img-sub-tier__medal {
  justify-content: center;
}

.sub-tier__rank-type {
  font-size: 11px;
  color: #879292;
}

.sub-tier__rank-tier__unranked {
  color: #879292;
}

.realContent {
  display: inline-block;
  /* width: 690px; */
  width: 680px;
  margin-left: 10px;
  font-size: 12px;
  vertical-align: top;
}

.gameListContainer {
  margin-top: 30px;
}

.content {
  position: relative;
}

.gameItem>.content>div {
  display: table-cell;
  height: 96px;
  vertical-align: middle;
}

.gameItem>.content {
  display: table;
  width: 689px;
  border-collapse: collapse;
  border: 1px solid #cdd2d2;
}

.gameItemList {
  margin-top: 8px;
}

.gameItemWrap {
  position: relative;
  border-radius: 3px;
  margin-bottom: 8px;
}



.content {
  table-layout: fixed;
  /* background-color: #a3cfec; */
  border-color: #99b9cf;
}

.gameItemWinExtended {
  position: relative;
  background: #A3CFEC;
}

.gameItemLoseExtended {
  position: relative;
  background: #E2B6B3;
}

.gameState {
  border-bottom: 1px solid #4aa1d2;
}

.gameType {
  font-weight: bold;
  width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gameStats {
  vertical-align: middle;
  width: 70px;
  text-align: center;
  font-size: 11px;
  color: #555;
  line-height: 16px;
  text-align: center;
  display: table-cell;
}

.bar {
  display: block;
  width: 27px;
  margin: 5px auto;
  height: 2px;

  background: #99B9CF99;
}

/* .gameResult {
  color: #1a78ae;
} */

.GameDetailTable>.Header>.Row>.HeaderCell>.GameResult {
  color: red;
}

.gameSettingInfo {
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  width: 120px;
  font-size: 0;
}

.championImage {
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.championIcon {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

.summonerSpell {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
}

.rune {
  width: 22px;
  height: 22px;
}

.rune1 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rune2 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.championName {
  margin-top: 8px;
  font-size: 11px;
  color: #555;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spell1 {
  margin-left: 0;
  display: block;
  width: 22px;
  height: 22px;
  margin-top: 2px;
  border-radius: 3px;
  overflow: hidden;
}

.summonerSpell1 {
  display: block;
  width: 100%;
  height: 100%;
}

.spell2 {
  margin-left: 0;
  display: block;
  width: 22px;
  height: 22px;
  margin-top: 0px;
  border-radius: 3px;
  overflow: hidden;
}

.summonerSpell2 {
  display: block;
  width: 100%;
  height: 100%;
}

.runes {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-bottom: -1px;
}

.rune1 {
  margin-top: 0;
  width: 22px;
  height: 22px;
}

.rune2 {
  margin-top: 0;
  width: 22px;
  height: 22px;
}

.runeImage1 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.runeImage2 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.championName {
  margin-top: 8px;
  font-size: 11px;
  color: #555;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kdaWrap {
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  text-align: center;
  font-size: 11px;
  width: 150px;
}

.kda {
  color: #879292;
  font-size: 15px;
  white-space: nowrap;
}

.kdaRatio {
  color: #555e5e;
  font-size: 12px;
  font-weight: bold;
  margin-top: 6px;
}

.kill {
  padding: 4px;
  color: #555e5e;
  white-space: nowrap;
  text-align: center;
}

.death {
  padding: 4px;

  color: #c6443e;
  white-space: nowrap;
  text-align: center;
}

.assist {
  padding: 4px;

  color: #555e5e;
  white-space: nowrap;
  text-align: center;
}

.stats {
  width: 90px;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  color: #555e5e;
  width: 160px;
}

.statsLevel {
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  color: #555e5e;
}

.ckRate {
  color: #c6443e;
}

.items {
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  width: 160px;
}

.itemList {
  width: 100px;
  margin: 0 auto;
}

.item {
  background-color: #85858555;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  margin-top: 2px;
  margin-right: 2px;
  overflow: hidden;
}

.itemImg {
  width: 100%;
  height: 100%;
  border: 0;
}

.statusBtn {
  border-bottom-color: #64b1e4;
  border-bottom: 1px solid #4aa1d2;
  width: 30px;
  border: 1px solid #000;
  display: table-cell;
  height: 96px;
  vertical-align: middle;
  border-color: #4aa1d2;
}

.content2 {
  position: relative;
  border-collapse: collapse;
  position: relative;
  width: 30px;
  height: 96px;
}

.material-icons {
  position: absolute;
  bottom: 0px;
  left: 3px;
  cursor: pointer;
  color: #016aa7;
}

.GameItem.extended.Win>.GameDetail {
  background: #64b1e4;
}

.RealContent {
  font-size: 12px;
}

.MatchDetailLayout .MatchDetailContent {
  background: #ededed;
  border-top: none;
}

.GameDetailTable {
  width: 100%;
  table-layout: fixed;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

colgroup {
  display: table-column-group;
}

.GameDetailTable>colgroup>.ChampionImage {
  width: 44px;
}

.GameDetailTable>colgroup>.SummonerSpell {
  width: 18px;
}

.GameDetailTable>colgroup>.KeystoneMastery {
  width: 18px;
}

col {
  display: table-column;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.GameDetailTable>colgroup>.Tier {
  width: 65px;
}

.GameDetailTable>colgroup>.OPScore {
  width: 55px;
}

.GameDetailTable>colgroup>.KDA {
  width: 76px;
}

.GameDetailTable>colgroup>.Damage {
  width: 66px;
}

.GameDetailTable>colgroup>.Ward {
  width: 48px;
}

.GameDetailTable>colgroup>.CS {
  width: 55px;
}

.GameDetailTable>colgroup>.Items {
  width: 170px;
}

.GameDetailTable>.Header {
  border: solid 1px #cdd2d2;
  background-color: #fff;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.GameDetailTable>.Header>.Row>.HeaderCell:first-child {
  padding-left: 15px;
  text-align: left;
}

.GameDetailTable>.Header>.Row>.HeaderCell {
  height: 32px;
  color: #555e5e;
  font-size: 12px;
  font-weight: normal;
}

.GameDetailTable.Result-WIN>.Header .Row>.HeaderCell>.GameResult {
  color: #1a78ae;
}

.GameDetailTable>.Header>.Row>.HeaderCell>.GameResult {
  font-size: 13px;
  font-weight: bold;
}

.GameDetailTable.Result-WIN>.Header .Row>.HeaderCell>.GameResult {
  color: #1a78ae;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.ChampionImage {
  padding-left: 10px;
  padding-right: 4px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.ChampionImage>a {
  position: relative;
  display: block;
}

user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.GameDetailTable>.Content>.Row>.Cell.ChampionImage>a>.Image {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.GameDetailTable>.Content>.Row>.Cell.ChampionImage>a>.Level {
  position: absolute;
  left: -10px;
  bottom: -3px;
  width: 15px;
  height: 15px;

  color: black;
  font-size: 10px;
  font-family: "Tahoma";
  text-align: center;
  line-height: 15px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.SummonerSpell>.Image:first-child {
  margin-bottom: 2px;
}

.GameDetailTable>.Content>.Row>.Cell.SummonerSpell>.Image {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.GameDetailTable>.Content>.Row>.Cell.SummonerSpell>.Image {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.Rune>.Image:first-child {
  margin-bottom: 2px;
  background: #000;
}

.GameDetailTable>.Content>.Row>.Cell.Rune>.Image {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.GameDetailTable>.Content>.Row>.Cell.Rune>.Image {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.SummonerName {
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.SummonerName>.Link {
  color: #555e5e;
  font-size: 11px;
  text-decoration: none;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.Tier {
  color: #555e5e;
  font-size: 11px;
  text-align: center;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.OPScore {
  text-align: center;
  white-space: nowrap;
  font-family: HelveticaNeue;
  font-size: 10px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.OPScore>.Text {
  color: #333333;
  font-size: 11px;
  height: 14px;
}

.GameDetailTable>.Content>.Row>.Cell.OPScore>.Score {
  background-color: #737373;
}

.GameDetailTable>.Content>.Row>.Cell.OPScore>.Badge {
  color: #fff;
  border-radius: 7px;
  padding: 2px;
  margin: 0 auto;
  width: 30px;
  height: 10px;
  line-height: 1;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.KDA {
  text-align: center;
  white-space: nowrap;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.KDA>.KDARatio.green {
  color: #2daf7f;
}

.GameDetailTable>.Content>.Row>.Cell.KDA>.KDARatio {
  /* color: #879292; */
  font-size: 11px;
  font-weight: bold;
}

.GameDetailTable>.Content>.Row>.Cell.KDA>.KDA {
  color: #555e5e;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row>.Cell.KDA>.KDA {
  color: #555e5e;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.Damage {
  text-align: center;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.Ward {
  text-align: center;
  color: #555e5e;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.Damage>.ChampionDamage {
  color: #555e5e;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row>.Cell.Damage>.Progress {
  width: 50px;
  height: 6px;
  margin: 0 auto;
  border: 1px solid #cdd2d2;
  background-color: #f2f2f2;
}

.GameDetailTable>.Content>.Row>.Cell.Damage>.Progress .Fill {
  height: 100%;
  margin: -1px;
  border: 1px solid #c6443e;
  background-color: #ee5a52;
  width: 100%;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.Ward {
  text-align: center;
  color: #555e5e;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.Ward {
  text-align: center;
  color: #555e5e;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.CS {
  text-align: center;
  color: #777;
  font-size: 11px;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.CS>.CS {
  color: #555e5e;
}

.GameDetailTable>.Content>.Row.first>.Cell {
  padding-top: 4px;
}

.GameDetailTable>.Content>.Row>.Cell.Items {
  text-align: center;
  font-size: 0;
}

.GameDetailTable>.Content>.Row>.Cell {
  padding: 3px 0;
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.Items>.Item:first-child {
  margin-left: 0;
}

.GameDetailTable>.Content>.Row>.Cell.Items>.Item {
  padding: 1px;
  display: inline-block;
  width: 22px;
  height: 22px;
  /* margin-left: 1px; */
  vertical-align: middle;
}

.GameDetailTable>.Content>.Row>.Cell.Items>.Item>.Image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

img {
  border: 0;
}

.GameDetailTableWrap>.Summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #cdd2d2;
  border-right: 1px solid #cdd2d2;
  background-color: #e4e4e4;
}

small,
div,
p,
span,
button {
  font-family: Helvetica, "Malgun Gothic", "Apple SD Gothic Neo", AppleGothic,
    Dotum, Arial, Tahoma;
}

.GameDetailTableWrap>.Summary>.Team:first-child {
  padding-right: 0;
  padding-left: 10px;
  text-align: left;
  border-left: 1px solid transparent;
}

.GameDetailTableWrap>.Summary>.Team {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
  /* padding-right: 10px; */
  /* text-align: right; */
  line-height: 30px;
}

.GameDetailTableWrap>.Summary>.Team>.ObjectScore,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore {
  display: inline-block;
  font-size: 11px;
  color: #555;
}

.GameDetailTableWrap>.Summary>.Team>.ObjectScore>.Image,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore>.Image {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  height: 16px;
}

.GameDetailTableWrap>.Summary>.Team>.ObjectScore+.ObjectScore,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore+.ObjectScore,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore+.ObjectScore,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore+.ObjectScore {
  margin-left: 10px;
}

.GameDetailTableWrap>.Summary>.Team>.ObjectScore,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore {
  display: inline-block;
  font-size: 11px;
  color: #555;
}

.GameDetailTableWrap>.Summary>.Team>.ObjectScore>.Image,
.GameDetailTableWrap>.Summary>.Team>.ObjectScore>.Image {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  height: 16px;
}

.summary-graph {
  flex: 0 1 390px;
}

.summary-graph>.total--container:first-child {
  padding-top: 8px;
  padding-bottom: 8px;
}

.summary-graph>.total--container {
  display: flex;
  justify-content: center;
  padding: 0 8px;
}

.summary-graph>.total--container>.graph--title {
  text-align: left;
  width: 60px;
}

.summary-graph>.total--container>.text {
  font-size: 10px;
  color: #222222;
}

.summary-graph>.total--container>.graph--data__left {
  text-align: right;
}

.summary-graph>.total--container>.graph--data {
  width: 40px;
}

.summary-graph>.total--container>.text {
  font-size: 10px;
  color: #222222;
}

.summary-graph>.total--container>.graph--container {
  flex: 0 1 290px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin: 0 3px;
}

.summary-graph>.total--container>.graph--container>.win--team {
  background-color: #548dca;
  margin-left: 4px;
  flex: 23;
}

.summary-graph>.total--container>.graph--container>.graph {
  /* flex: 1; */
  height: 10px;
}

.summary-graph>.total--container>.graph--container>.lose--team {
  background-color: #d05a53;
  margin-right: 4px;
  flex: 9;
}

.summary-graph>.total--container>.graph--container>.graph {
  /* flex: 1; */
  height: 10px;
}

.summary-graph>.total--container>.graph--data__right {
  text-align: left;
}

.summary-graph>.total--container>.graph--data {
  width: 40px;
}

.summary-graph>.total--container>.text {
  font-size: 10px;
  color: #222222;
}

.summary-graph>.total--container:last-child {
  padding-bottom: 8px;
}

.summary-graph>.total--container {
  display: flex;
  justify-content: center;
  padding: 0 8px;
}

.summary-graph>.total--container>.graph--title {
  text-align: left;
  width: 60px;
}

.summary-graph>.total--container>.text {
  font-size: 10px;
  color: #222222;
}

.summary-graph>.total--container>.graph--data__left {
  text-align: right;
}

.summary-graph>.total--container>.graph--data {
  width: 40px;
}

.summary-graph>.total--container>.text {
  font-size: 10px;
  color: #222222;
}

.summary-graph>.total--container>.graph--container {
  flex: 0 1 290px;
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin: 0 3px;
}

.summary-graph>.total--container>.graph--container>.win--team {
  background-color: #548dca;
  margin-left: 4px;
  flex: 45395;
}

.summary-graph>.total--container>.graph--container>.lose--team {
  background-color: #d05a53;
  margin-right: 4px;
  flex: 38060;
}

.GameDetailTableWrap>.Summary>.Team:last-child {
  padding-right: 10px;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
}

.GameDetailTableWrap>.Summary>.Team {
  display: table-cell;
  height: 30px;
  vertical-align: middle;
  /* padding-right: 10px; */
  /* text-align: right; */
  line-height: 30px;
}

.GameDetailTable {
  width: 100%;
  table-layout: fixed;
}

.detailChampIcon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.Box {
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  background: #f2f2f2;
  border-radius: 2px;
}

.GameMoreButton>.Button {
  display: block;
  height: 50px;
  color: #555e5e;
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}